<h1><%= current_user.name %>'s list</h1>

<div id="index-button">
  <a href="/items/new">add new item</a>
</div>

<ul class="profile-list">
  <% current_user.items.each do |item| %>
      <li class="profile-list-item">
        <p><b><%= item.list_item %></b></p>

        <span class="profile-list-item-data" id="success-rate"><%= "#{item.success_rate}%" %> success rate</span>
          <span class="profile-list-item-data"><a id="edit" href="/items/<%= item.id %>/edit">edit</a></span>
          <form class="profile-list-item-data" form id="delete" action="/items/<%= item.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="delete">
                  </form>

      </li>
  <%end%>
</ul>
